@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 247, 237, 226;
  --background-rgb: 132, 165, 157;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden;
}
